h2 {
    vertical-align: center;
    text-align: center;
  }
  
  html, body {
    margin: 0;
    height: 100%;
  }
  
  * {
    font-family: "Raleway";
    box-sizing: border-box;
  }
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #001B42, #004DBF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }

  a {
      text-decoration: none;
      color: #ffff;
  }

  a:hover {
      color: #2ECC71;
  }

  /* #registerBtn {
      color: #2ECC71;
      padding: 8px;
      border: #2ECC71 1px solid;
      border-radius: 5px;
  } */
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      /* flex-direction: column; */
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
    /* .menu > li > #registerBtn {
      color: #2ECC71;
      padding: 0px;
      border: #2ECC71 1px solid;
      border-radius: 5px;
  } */
  }

  
  #SearchDiv {
    width: 100%;
    height: 100%;
    background-image:url(./img/wallpaper4.jpg);
    background-size: cover;
    background-attachment:fixed;
    padding: 150px 0px 150px 0px;
    text-align: center
}

#search-btn {
    background:#2ECC71;
    color:white;
    font-size: large;
    padding:10px;
    border:0 none;
    font-weight:bold;
    margin: 5px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}
     
#search-box {
    background: #eee;
    padding:15px;
    border:0 none;
    width:600px;
    margin: 20px;
}

#Footer {
    text-align: center;
    color: #ffff;
    background-color: #004DBF;
    padding: 10px;
}

@media (max-width: 700px) {
    #SearchDiv {
        width: 100%;
        height: 100%;
        background-image:url(./img/wallpaper4.jpg);
        background-size: cover;
        background-attachment:fixed;
        padding: 150px 0px 150px 0px;
        text-align: center
    }

    #search-btn {
        background:#2ECC71;
        color:white;
        font-size: large;
        padding:10px;
        border:0 none;
        font-weight:bold;
        margin: 5px;
        cursor: pointer;
        width: 100px;
    }
         
    #search-box {
        background: #eee;
        padding:15px;
        border:0 none;
        width:300px;
        margin: 20px;
    }
}

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  
  .flex-container > div {
    width: 300px;
    margin: 10px 20px 10px 20px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    text-align: center;
    background-color: #eeeeee;
    box-shadow: 5px 10px 8px #888888;
  }

  .fa-eye, .fa-plus {
      color: green;
  }

  .fa-edit {
      color: blue;
  }

  .fa-mark {
      color: maroon;
  }

  .fa-delete {
      color: red;
  }

/** login page style begins **/
#wrapper
{
    margin:0 auto;
    padding:0px;
    text-align:center;
    width:995px;
}
#wrapper h1
{
    /* margin-top:40px; */
    font-size:30px;
    color:#424949;
    text-align: center;
}
#wrapper h1 p
{
    font-size:18px;
}
.form_div
{
    width:400px;
    margin-left:320px;
    padding:10px;
    background-color:#001B42;
}
.form_div .form_label
{
    margin:15px;
    margin-bottom:30px;
    font-size:20px;
    font-weight:bold;
    color:white;
    text-decoration:underline;
}
.form_div input[type="text"],input[type="password"]
{
    width:300px;
    height:40px;
    border-radius:2px;
    font-size:14px;
    padding-left:5px;
    /*border:none;*/
    border: #ccc 1px solid;
}
.form_div input[type="submit"]
{
    width:300px;
    height:40px;
    border:none;
    border-radius:2px;
    font-size:14px;
    background:#2ecc71;
    border-bottom:3px solid #616A6B;
    color:white;
    font-weight:bold;
    cursor: pointer;
}

@media only screen and (min-width:700px) and (max-width:995px)
{
    #wrapper
    {
        width:100%;
    }
    #wrapper h1
    {
        font-size:30px;
    }
    .form_div
    {
        width:50%;
        margin-left:25%;
        padding-left:0px;
        padding-right:0px;
    }
    .form_div input[type="text"],input[type="password"]
    {
        width:80%;
    }
    .form_div textarea
    {
        width:80%;
    }
    .form_div input[type="submit"]
    {
        width:80%;
    }
}

@media only screen and (min-width:400px) and (max-width:699px)
{
    #wrapper
    {
        width:100%;
    }
    #wrapper h1
    {
        font-size:30px;
    }
    .form_div
    {
        width:60%;
        margin-left:20%;
    }
    .form_div input[type="text"],input[type="password"]
    {
        width:80%;
    }
    .form_div input[type="submit"]
    {
        width:80%;
    }
}

@media only screen and (min-width:100px) and (max-width:399px)
{
    #wrapper
    {
        width:100%;
    }
    #wrapper h1
    {
        font-size:25px;
    }
    .form_div
    {
        width:90%;
        margin-left:5%;
        padding-left:0px;
        padding-right:0px;
    }
    .form_div input[type="text"],input[type="password"]
    {
        width:80%;
    }
    .form_div input[type="submit"]
    {
        width:80%;
    }
}

.question{
  color:black;
}

input[type="text"], input[type="file"], select {
    width:600px;
    height:40px;
    border-radius:2px;
    font-size:14px;
    padding-left:5px;
    /*border:none;*/
    border: #ccc 1px solid;
}

input[type="submit"] {
    width:300px;
    height:40px;
    border:none;
    border-radius:2px;
    font-size:14px;
    background:#2ecc71;
    border-bottom:3px solid #616A6B;
    color:white;
    font-weight:bold;
    cursor: pointer;
}

.postAdvertDiv {
    padding: 20px 100px 0px 100px;

}

@media (max-width: 700px) {
    input[type="text"], input[type="file"], select {
        width:250px;
        height:40px;
        border-radius:2px;
        font-size:14px;
        padding-left:5px;
        /*border:none;*/
        border: #ccc 1px solid;
    }
    
    input[type="submit"] {
        width:250px;
        height:40px;
        border:none;
        border-radius:2px;
        font-size:14px;
        background:#2ecc71;
        border-bottom:3px solid #616A6B;
        color:white;
        font-weight:bold;
        cursor: pointer;
    }

    img {
        width: 250px;
        height: 200px;
    }
}

/* begin modal pop up */

.modal-header{
    background: #2d91c3;
    color: #ffff;
    padding: 15px;
  }
  
  .modal-header h2, .modal-footer h3{
    margin: 0;
  }
  
  .modal-body{
    padding: 10px 20px;
    background-color: #001B42;
    color: #ffff;
  }
  
  .modal-footer{
    background: #2d91c3;
    padding: 10px;
    color: white;
    text-align: center;
  }
  
  .modal{
    display:none;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content{
    background-color: #f4f4f4;
    margin: 20% auto;
    /* width: 70%; */
    width: 400px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 7px 8px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 2s;
  }
  
  .closeBtn{
    color: #ffff;
    float: right;
    font-size: 30px;
    cursor: pointer;
  }
  
  .closeBtn:hover .closeBtn:focus{
    cursor: pointer;
    color: #000;
    text-decoration: none;
  }
  
  @keyframes modalopen{
    from{opacity: 0}
    to{opacity:1}
  }
  /* end modal popup */

  .color-link {
     color: #004DBF;
  }

  #welcome {
    background-color: #001B42; 
    color:aliceblue;
    padding-bottom:20px;
  }

  @media (max-width: 700px) {
    #welcome {
      background-color: #001B42; 
      color:aliceblue;
      padding-bottom:20px;
    }
  }

  #see-all-property-advert{
    padding: 0px 0px 100px 0px;
    background-color: #eeee;
  }

  #about-us p {
    padding: 0px 100px 50px 100px;
    text-align: justify;
  }

  #select-property-type {
    text-align: center;
  }